.sign-in {
  width: 300px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons > .custom-button {
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  .sign-in {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .buttons {
    flex-direction: column;
    width: 100%;

    & .custom-button:first-child {
      margin-bottom: 10px;
    }
  }
}
