.sign-in-and-sign-up {
	width: 850px;
	display: flex;
	flex-shrink: 1;
	justify-content: space-between;
	margin: 30px auto;
}

@media screen and (max-width: 800px) {
	.sign-in-and-sign-up {
		flex-direction: column;
		width: unset;
		align-items: center;
		> *:first-child {
			margin-bottom: 50px;
		}
	}
}
